.home-main{
  background: black;
  position: static;
  height: 1000px;
}

.home-title {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  color: rgba(0,0,0,0);
  position: absolute;
  top: 40%;
}

.grid-section {
  position: absolute;
  background: rgba(0, 9, 75, 1);
  width: 100vw;
  height: 1000px;
  top: 106vh;
}

.grid {

}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 50px;
  z-index: -1;
}
