.home-video{
  position: static;
  padding-top: 79px;
}

.home-title {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  color: rgba(0,0,0,0);
  position: absolute;
  top: 40%;
  z-index: 0;
}

.soar-text {
  padding-right: 1vw;
  padding-left: 1vw;
}

.year-text {
  padding-right: 1vw;
  padding-left: 1vw;
}

.grid-section {
  position: absolute;
  background: black;
  width: 100vw;
  height: 1000px;
  top: 106vh;
}

.grid {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 10%;
  grid-template-rows: 25px 150px;
}

.grid-item-1 {
  position: sticky;
  top: 0px;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 50px;
  z-index: -1;
}
