.home-video{
  position: static;
  padding-top: 79px;
  background: rgba(0,0,0,1);
}

.home-title {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  color: rgba(0,0,0,0);
  position: absolute;
  top: 40%;
  z-index: 0;
}

.soar-text {
  padding-right: 1vw;
  padding-left: 1vw;
}

.year-text {
  padding-right: 1vw;
  padding-left: 1vw;
}

.grid-section {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23090b20%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23464857%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23131741%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%234e5170%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%231c2261%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23545988%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23262e82%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%235c62a1%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%232f39a2%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23636ab9%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23262e82%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%235c62a1%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22g%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%231c2261%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23545988%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22h%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23131741%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%234e5170%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22i%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23090b20%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23464857%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22j%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%233f3f3f%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 127c67.866 7.48 135.733 14.96 195 13 59.267-1.96 109.936-13.359 168-18 58.064-4.641 123.523-2.525 182 1 58.477 3.525 109.973 8.46 173 10 63.027 1.54 137.585-.315 198-6 60.415-5.685 106.686-15.201 167-18 60.314-2.799 134.67 1.12 201 10 66.33 8.88 124.636 22.722 182 19 57.364-3.722 113.788-25.008 173-26 59.212-.992 121.21 18.31 192 27 70.79 8.69 150.368 6.769 180 3 29.632-3.769 9.316-9.384 29-15l-40 1273H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 254c67.885-5.96 135.77-11.92 194-14 58.23-2.08 106.804-.28 162 4s117.013 11.042 178 16c60.987 4.958 121.144 8.111 181 9 59.856.889 119.411-.487 184-1s134.21-.164 200-5c65.79-4.836 127.746-14.857 184-16 56.254-1.143 106.806 6.591 167 15 60.194 8.409 130.031 17.49 192 10 61.969-7.49 116.068-31.555 185-32 68.932-.445 152.695 22.73 184 29 31.305 6.27 10.153-4.365 29-15l-40 1146H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 381c66.874-.699 133.748-1.398 194-3 60.252-1.602 113.881-4.107 171-6 57.119-1.893 117.728-3.174 178 1 60.272 4.174 120.208 13.804 181 18s122.44 2.957 186 1c63.56-1.957 129.029-4.632 186-1 56.971 3.632 105.445 13.571 166 7 60.555-6.571 133.193-29.653 197-30 63.807-.347 118.783 22.041 175 30s113.674 1.489 182 0 147.522 2.003 180 0c32.478-2.003 18.24-9.502 44-17l-40 1019H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 509c63.534-2.13 127.067-4.26 189-2 61.933 2.26 122.265 8.913 184 10 61.735 1.087 124.873-3.39 179-11 54.127-7.61 99.243-18.351 161-16 61.757 2.351 140.155 17.796 205 27s116.136 12.168 175 6c58.864-6.168 125.3-21.468 183-28s106.666-4.297 168-1c61.334 3.297 135.038 7.657 199 13 63.962 5.343 118.182 11.67 182 16s137.234 6.666 168 4c30.766-2.666 18.883-10.333 47-18l-40 891H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 636c57.015 8.465 114.03 16.93 175 12s125.897-23.254 187-31c61.103-7.746 118.382-4.913 182 6 63.618 10.913 133.573 29.907 195 28 61.427-1.907 114.325-24.715 168-26 53.675-1.285 108.127 18.954 170 28 61.873 9.046 131.166 6.9 199-1s134.21-21.553 191-28c56.79-6.447 103.995-5.687 162 1 58.005 6.687 126.809 19.3 201 21 74.191 1.7 153.769-7.514 183-11 29.231-3.486 8.116-1.243 27 1l-40 764H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 763c65.12-6.359 130.241-12.717 189-9 58.759 3.717 111.155 17.51 170 15 58.845-2.51 124.137-21.324 185-20 60.863 1.324 117.297 22.786 176 23 58.703.214 119.675-20.818 181-24 61.325-3.182 123.002 11.487 182 12 58.998.513 115.318-13.13 179-8 63.682 5.13 134.727 29.035 199 28 64.273-1.035 121.774-27.01 174-30 52.226-2.99 99.176 17.003 170 19 70.824 1.997 165.521-14 202-18 36.479-4 14.74 4 33 12l-40 637H0Z%22 fill=%22url(%23f)%22%2F%3E%3Cpath d=%22M0 890c60.683-6.64 121.366-13.281 183-10 61.634 3.281 124.22 16.484 183 14 58.78-2.484 113.753-20.655 175-19 61.247 1.655 128.768 23.135 190 24 61.232.865 116.175-18.887 172-25 55.825-6.113 112.532 1.413 175 4 62.468 2.587 130.695.236 193-3 62.305-3.236 118.687-7.356 178-2s121.558 20.188 182 29c60.442 8.812 119.08 11.603 188 6s148.12-19.6 180-24c31.88-4.4 16.44.8 41 6l-40 510H0Z%22 fill=%22url(%23g)%22%2F%3E%3Cpath d=%22M0 1018c60.365-11.587 120.73-23.175 181-18 60.27 5.175 120.446 27.11 179 30 58.554 2.89 115.486-13.27 178-23 62.514-9.73 130.612-13.034 197-4s131.068 30.406 187 27c55.932-3.406 103.117-31.588 162-30 58.883 1.588 129.464 32.948 190 36 60.536 3.052 111.028-22.204 171-31 59.972-8.796 129.426-1.13 189 8 59.574 9.13 109.27 19.728 176 15 66.73-4.728 150.494-24.78 185-29 34.506-4.22 19.753 7.39 45 19l-40 382H0Z%22 fill=%22url(%23h)%22%2F%3E%3Cpath d=%22M0 1145c55.562-9.676 111.124-19.351 175-18 63.876 1.351 136.066 13.73 197 20s110.613 6.433 166 4 116.483-7.461 182-9c65.517-1.539 135.455.412 195-2 59.545-2.412 108.698-9.187 169-4 60.302 5.187 131.754 22.337 196 25 64.246 2.663 121.287-9.16 183-9 61.713.16 128.098 12.3 183 8 54.902-4.3 98.32-25.042 165-32 66.68-6.958 156.623-.13 192 5 35.377 5.13 16.189 8.565 37 12l-40 255H0Z%22 fill=%22url(%23i)%22%2F%3E%3Cpath d=%22M0 1272c52.904-3.38 105.807-6.761 170-11s139.675-9.335 203-3c63.325 6.335 114.493 24.102 172 25 57.507.898 121.352-15.074 179-18 57.648-2.926 109.098 7.195 172 7 62.902-.195 137.254-10.705 200-10 62.746.705 113.884 12.626 168 18 54.116 5.374 111.208 4.203 178 5 66.792.797 143.285 3.564 206-3s111.654-22.46 179-25c67.346-2.54 153.099 8.274 185 13 31.901 4.726 9.95 3.363 28 2l-40 128H0Z%22 fill=%22url(%23j)%22%2F%3E%3C%2Fsvg%3E");
  width: 100vw;
  height: auto;
  top: 106vh;
  box-shadow: 0px -50px 50px rgba(0,0,0,1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  column-gap: 100px;
  row-gap: 50px;
  padding: 10% 10% 10% 10%;
}

.overflow-card {
    display: initial;
}

.grid h1 {
  color: white;
  opacity: 1;
}

.grid p {
  color: white;
  opacity: 1;
}

.image {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

a {
  outline: none;
  color: #87CEEB;
}


video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 50px;
  z-index: -1;
}


@media only screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  .overflow-card {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .overflow-card {
    display: initial;
  }
}
